/* Reset + base */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: 'Baloo 2', sans-serif;
  color: white;
  background: transparent;
}


/* Fond p5 */
canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Page d'accueil (si utilisée) */
main {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
}

button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
}

/* Infos du morceau */
#morceau-infos {
  text-align: center;
  padding: 0rem;
}

#description {
  font-size: 0.9rem;
  color: #aaa;
}

/* Clignotement tempo */
#tempo-led {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 1rem auto;
  background: #444;
  transition: background 0.1s;
}
#tempo-led.active {
  background: #41ead4;
}
#selection-container {
  text-align: center;
  padding: 1rem 1rem;
  margin-top: 1vh;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

#selector {
  padding: 0.8rem 1.2rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.5rem;
  background: #222;
  color: white;
}

#grille-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  box-sizing: border-box;
}

#grille-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
}
.ligne {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
  align-items: center;
  justify-content: center;
}

.cellule {
  border: 2px solid #ff85f9a1;
  padding: 1rem 2rem;
  border-radius: 12px;
  background: rgba(173, 194, 57, 0.267);
  font-family: monospace;
  font-size: 2rem;
  min-width: 5ch;
  text-align: center;
  box-shadow: 0 0 10px rgba(255,255,255,0.2);
  transition: transform 0.2s ease;
  position: relative;
}

.repetition-badge {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background: #ff9;
  color: #000;
  font-size: 0.8rem;
  padding: 2px 5px;
  border-radius: 6px;
  font-weight: bold;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.cellule.active {
    box-shadow:
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 30px #0ff,
    0 0 40px #0ff;
  background: rgba(0, 255, 255, 0.2);
  border-color: #0ff;
  transition: box-shadow 0.2s, background 0.2s;
}

.rep {
  margin-left: 1rem;
  font-weight: bold;
  font-family: monospace;
  font-size: 2rem;
  color: #ff9;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

body.scrollable {
  overflow-y: auto;
}

.grille {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.mesure {
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  font-family: monospace;
}

